/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* FONTS OFFLINE LINK START */
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* /FONTS OFFLINE LINK END */
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/* ROOT STYLES START */

:root {
    --main-font-family: "Roboto", sans-serif;
    --main-background-color: #fff;
    --main-site-desc: #777;
    --main-title-color: #000;
    --main-site-btns: #fff;
    --main-site-btns-bg: #ea625c;
    --nav-title-color: #000;
    
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: 400;
    background-color: var(--main-background-color);
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}
/* /ROOT STYLES END */
/* -------------------------- */
/* SITE HEADER STYLES START */

.site-header {
    margin-bottom: 30px;
}

.site-header__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.site-header__logo--img {
    width: 35px;
    height: 42px;
}

.site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.site-nav__item:not(:last-child) {
    margin-right: 30px;
}

.site-nav__item:nth-child(4) {
    margin-right: 40px;
}

.site-nav__link {
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: var(--main-title-color);
}

.site-nav__item:last-child .site-nav__link {
    padding-bottom: 6px;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #666;
    border-bottom: 1px solid #333;
}

/* /SITE HEADER STYLES END */
/* ----------------------- */
/* HERO SECTION STYLES START */

.hero-section {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 68px;
    padding-bottom: 185px;
    border-bottom: 2px solid #ddd;
    background-image: url("../images/2_intro-bg-watch_opt.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(50% + 460px) calc(50% + 16px);
    
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -webkit-min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .hero-section{
        background-image: url("../images/2_intro-bg-watch_opt@2x.jpg");
    }
}

.hero__image {
    width: 587px;
    height: 565px;
    position: absolute;
    top: -89px;
    right: calc(50% - 835px);
} 

.site__wrapper--start {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 100px;
    width: 490px;
}

.site__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: var(--main-title-color);
}

.site__desc {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 150%;
    color: var(--main-site-desc);
    border-left: 3px solid #888;
}

.site-btns {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--main-site-btns);
    background-color: var(--main-site-btns-bg);
}

.hero-link {
    padding-right: 38.5px;
    padding-left: 38.5px;
}

/* /HERO SECTION STYLES END */
/* ------------------------ */
/* OFFER SECTION STYLES START */

.info-section {
    margin-bottom: 126px;
}

.info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.info__item {
    width: 280px;
}

.info__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #222;
}

.info__desc {
    /* position: relative; */
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 160%;
    color: #333;
}

.info__item:not(:last-child)::after {
    display:block;
    width: 8px;
    height: 8px;
    background-color: #ddd;
    -webkit-box-shadow: 18px 0px 0px 0px #ddd, 36px 0px 0px 0px #ddd;
            box-shadow: 18px 0px 0px 0px #ddd, 36px 0px 0px 0px #ddd;
    content: "";
}

.info__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #ea625c;
}

.info__link::before {
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 0px;
    border: 2px solid #ea625c;
    content: "";
}

/* OFFER SECTION STYLES END */
/* ------------------------ */
/* QUALITY SECTION STYLES START */

.qlty-section {
    position: relative;
    margin-bottom: 176px;
}

.quality__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}


.qlty__link {
    padding-right: 90px;
    padding-left: 90px;
}

.qlty__image {
    width: 400px;
    height: 599.93px;
    right: calc(50% - 500px);
}

/* /QUALITY SECTION STYLES END */
/* --------------------------- */
/* FOOTER STYLES START */

.footer-bg {
    width: 100%;
    /* max-width:1250px; */
    height: 830px;
    
}

.site-footer {
    padding-top: 240px;
    padding-right: 125px;
    padding-bottom: 550px;
    /* padding-left: 923px; */
    background-image: url(../images/4_runners_opt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__wrapper--end {
    margin-left: auto;
    width: 100%;
    max-width: 490px;
    
}

.footer__title {
    color: #fff;
}

.footer__desc {
    color: #fff;
}

.footer__link {
    padding-right: 46px;
    padding-left: 46px;
}

/* /FOOTER STYLES END */
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/* CUSTOM PROPERTY - DONE */
/* PREFIX - DONE */
/* MINIFY - DONE */

